<h1><%= pluralize(@events.size, 'Event')%></h1>

  <% @events.each do |event| %>
    <article>
      <header>
        <h2><%= link_to(event.name, event) %></h2>
      </header>
      <p> 
        <%= event.description[0..10] %>...
      </p>
      <table>
      <tr>
        <th>When:</th>
        <td><%= event.starts_at %></td>
      </tr>
      <tr>
        <th>Where:</th>
        <td><%= event.location %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><strong><%= format_price(event) %></strong></td>
      </tr>
    </table>
    </article>
  <% end %>