<h1>Events</h1>

<article>
  <header>
    <h2><%= @event.name %></h2>
  </header>
  <p> 
    <%= @event.description %> 
  </p>
  <h3>When</h3>
  <p>
    <%= @event.starts_at %>
  </p>
  <p>
  <h3>When</h3>
    <%= @event.location %> 
  </p> 
  <p>
  <h3>Price</h3>
    <strong><%= format_price(@event) %></strong> 
  </p>
</article>

<%= link_to "All Events", root_path%>