<h1>Events</h1>

<article>
  <header>
    <%= image_for(@event) %>
    <h2><%= @event.name %></h2>
    <h3>Capacity:</h3>
    <h3><%= pluralize(@event.capacity, 'spot' )%> </h3>
  </header>
  <p>
    <%= link_to "Who's registred?", event_registrations_path(@event)%>
  </p>
  <p> 
    <%= @event.description %> 
  </p>
  <table>
    <tr>
      <th>When:</th>
      <td><%= @event.starts_at %></td>
    </tr>
    <tr>
      <th>Where:</th>
      <td><%= @event.location %></td>
    </tr>
    <tr>
      <th>Price:</th>
      <td><strong><%= format_price(@event) %></strong></td>
    </tr>
  </table>
    <p>
       <%= link_to "Register!", new_event_registration_path(@event), class: "button ok register" %>
    </p>
    <p>
      <%= link_to "Edit Event", edit_event_path%>
    </p>
    <p>
      <%= link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: 'Are your sure?'} %>
    </p>
</article>